<%= form_for post do |f| %>
  <div class="form-group">
    <%= f.label :url, 'URL' %>
    <%= f.url_field :url, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :headline %>
    <%= f.text_field :headline, class: 'form-control' %>
  </div>
  <%= f.submit nil, class: 'btn btn-primary' %>
<% end %>
